<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vita da Founder</title>
</head>
<body>

    <h1>Titolo della pagina</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Fuga beatae ea earum incidunt non, doloremque tempore 
        perferendis aliquid, pariatur nisi a quaerat vero 
        eum veritatis odit reprehenderit aut, cumque vel?
    </p>
    
</body>
</html>